/**
 * TextareaField Component Demo for tingle
 * @author zhangshun
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

// tingle-style's utils
@require '../node_modules/tingle-style/src/var'

@import url(../node_modules/tingle-group-list/src/GroupList.css)
@import url(../node_modules/tingle-field/src/Field.css)
body
    background-color #f2f2f2