/**
 * TextareaField Component Style for tingle
 * @author zhangshun
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

// tingle-style's utils
@require '../node_modules/tingle-style/src/var'

.tTextareaFieldContent
  position relative /*重要，解决UC、猎豹等浏览器z-index失效的问题*/
  padding 0 rem(80) 0 0
  border none
  outline none
  margin rem(22) 0
  color #424242
  width 100%
  background-color transparent
  z-index 2
  resize none

.readOnly
  .tTextareaFieldContent
    color #bdbdbd
